altgraph==0.17.5
annotated-types==0.7.0
autocommand==2.2.2
bitstruct==8.11.1
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
curlify==3.0.0
et_xmlfile==2.0.0
fit-tool==0.9.13
garth==0.5.20
idna==3.11
jaraco.context==6.1.0
jaraco.functools==4.4.0
jaraco.text==4.0.0
jdcal==1.4.1
macholib==1.16.4
micloud==0.6
more-itertools==10.8.0
oauthlib==3.3.1
openpyxl==2.5.12
packaging==25.0
platformdirs==4.5.1
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2025.11
PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
requests==2.32.5
requests-oauthlib==2.0.0
setuptools==80.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.6.2
